<nav class="navbar navbar-fixed-top navbar-expand-lg nav-neu">
  <div class="container-fluid row">
    <div class="navbar-header">
      <a routerLink="../" class="navbar-brand text-white">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand text-white" routerLink="./">
        Edit Faculty
      </a>
    </div>
  </div>
  <a routerLink="../" class="navbar-brand text-white">
    <span class="fas fa-check"></span>
  </a>
</nav>

<div class="container">
  <br/>
  <div class="container">
    <table class="table table-striped">
      <thead class="thead-neu">
      <tr>
        <th scope="col" class="text-align">Username</th>
        <th scope="col" class="text-align">FirstName</th>
        <th scope="col" class="text-align">LastName</th>
        <th scope="col" class="text-align">Email</th>
        <th scope="col" class="text-align">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor = "let professor of faculty">
        <td class="text-align">{{professor.username}}</td>
        <td class="text-align">{{professor.firstName}}</td>
        <td class="text-align">{{professor.lastName}}</td>
        <td class="text-align">{{professor.email}}</td>
        <td class="actions">
          <button type="button" class="btn btn-outline-success btn-sm btn-space" (click)="editUser(professor)">
            <i class="fas fa-user-edit"></i>
            Edit
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm btn-space" (click)="deleteUser(professor._id)">
            <i class="fas fa-user-slash"></i>
            Delete
          </button>
        </td>
      </tr>

      </tbody>
    </table>

    <br/>

    <a class="btn btn-secondary btn-block" routerLink="new">
      <i class="fas fa-user-plus"></i>
      Add a new faculty member
    </a>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-expand-lg nav-neu">
  <div class="container-fluid row">
    <a routerLink="/" class="navbar-brand text-white">
      <span class="fas fa-paw mr-1"></span>
      Home
    </a>
  </div>
  <a routerLink="../" class="navbar-brand text-white">
    <span class="fas fa-portrait"></span>
  </a>
</nav>


