<nav class="navbar navbar-fixed-top navbar-expand-lg nav-neu">
  <div class="container-fluid row">
    <div class="pull-left">
      <a routerLink="/" class="navbar-brand text-white">
        <i class="fas fa-certificate"></i>
      </a>
      <a routerLink="./" class="navbar-brand text-white ml-4">
        Signature Courses
      </a>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <table class="table table-striped">
    <thead class="thead-neu">
    <tr>
      <th scope="col">Course Number</th>
      <th scope="col">Course Name</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Number of Ratings</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of courses">
      <th scope="row">{{course.number}}</th>
      <td>{{course.name}}</td>
      <td>{{course.rating}}</td>
      <td>{{course.numRating}}</td>
    </tr>
    </tbody>
  </table>
</div>

<nav class="navbar fixed-bottom navbar-expand-lg nav-neu">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-white">
      <span class="fas fa-paw mr-1"></span>
      Home
    </a>
  </div>
</nav>
