<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid row">
    <div class="pull-left">
      <a routerLink="./" class="navbar-brand">
        Login
      </a>
    </div>
    <div class="pull-right">
      <button routerLink="/register" class="navbar-text btn">
        Register
      </button>
      <button routerLink="/" class="navbar-text btn">
        Visit as Guest
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="container">
    <br/>
    <div *ngIf="errorFlag" class="alert alert-danger">
      {{errorMsg}}
    </div>

    <h5>Login as: </h5>
    <div class="form-check">
      <input class="form-check-input"
             type="radio"
             name="exampleRadios"
             id="admin"
             [value]="'ADMIN'"
             [(ngModel)]="type">
      <label class="form-check-label" for="admin">
        Admin
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input"
             type="radio"
             name="exampleRadios"
             id="faculty"
             [value]="'FACULTY'"
             [(ngModel)]="type">
      <label class="form-check-label" for="faculty">
        Faculty
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input"
             type="radio"
             name="exampleRadios"
             id="student"
             checked
             [value]="'STUDENT'"
             [(ngModel)]="type">
      <label class="form-check-label" for="student">
        Student
      </label>
    </div>

    <br/>

    <form (ngSubmit)="login()" #f="ngForm">
      <label for="username">Username:</label>
      <input type="text"
             class="form-control"
             placeholder="username"
             name="username"
             id="username"
             ngModel required #username="ngModel"/>

      <label for="password">Password:</label>
      <input type="password"
             class="form-control"
             placeholder="password"
             name="password"
             id="password"
             ngModel required #password="ngModel"/>

      <br/>

      <button class="btn btn-primary btn-block"
              type="submit"
              [disabled]="!f.valid">Login
      </button>
    </form>
    <div [hidden]="type!=='STUDENT'">
      <a href="{{baseUrl}}/facebook/login" class="btn btn-primary btn-block mt-2">
        Login with Facebook
      </a>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-text white-text pull-left">
      <span class="fa fa-home"></span>
    </a>
  </div>
</nav>
