
<form (ngSubmit)="newCourse()" #newcourse ="ngForm">

  <nav class="navbar navbar-fixed-top navbar-expand-lg nav-neu">
    <div class="container-fluid row">
      <div class="pull-left">
        <!--<a routerLink="/" class="navbar-brand text-white">-->
        <a routerLink = "/faculty/{{userId}}/courses" class="navbar-brand text-white">
          <span class="fas fa-chevron-left"></span>
        </a>
        <a routerLink="./" class="navbar-brand text-white ml-4">
          Register for Classes
        </a>
      </div>

      <div class="pull-right">
        <a class="text-white btn" type="submit" [disabled]="!newcourse.valid">
          <!--Done-->
          <i class="fas fa-check fontawsome_icon"></i>
        </a>
      </div>
    </div>
  </nav>


  <div class="container-fluid cl-container-padding">
    <div class = "form-group">
      <label for = "name"> Course Name</label>
      <input type = "text" name = "name" class = "form-control" id = "name" placeholder = "Course Name"
             ngModel required #name="ngModel"/>
      <!--<div [hidden]="pagename.valid || pagename.untouched" class="alert alert-danger">-->
        <!--Name is required-->
      <!--</div>-->
    </div>

    <div class = "form-group">
      <label for = "number"> Course Number</label>
      <input type = "text" name = "number" class = "form-control" id = "number" placeholder="Course Number"
             ngModel required #number="ngModel"/>
    </div>

    <div class = "form-group">
      <label for = "day"> Course Day</label>
      <input type = "text" name = "day" class = "form-control" id = "day" placeholder="Course Day"
             ngModel required #day="ngModel"/>
    </div>

    <div class = "form-group">
      <label for = "startTime"> Course StartTime</label>
      <input type = "text" name = "startTime" class = "form-control" id = "startTime" placeholder="Course StartTime"
             ngModel required #startTime="ngModel"/>
    </div>

    <div class = "form-group">
      <label for = "endTime"> Course EndTime</label>
      <input type = "text" name = "endTime" class = "form-control" id = "endTime" placeholder="Course EndTime"
             ngModel required #endTime="ngModel"/>
    </div>

    <div class = "form-group">
      <label for = "startDate"> Course StartDate</label>
      <input type = "date" name = "startDate" class = "form-control" id = "startDate" placeholder="Course StartDate"
             ngModel required #startDate="ngModel"/>
    </div>

    <div class = "form-group">
      <label for = "endDate"> Course EndDate</label>
      <input type = "date" name = "endDate" class = "form-control" id = "endDate" placeholder="Course EndDate"
             ngModel required #endDate="ngModel"/>
    </div>

    <div class = "form-group">
      <label for = "term"> Course Term</label>
      <input type = "text" name = "term" class = "form-control" id = "term" placeholder="Course Term"
             ngModel required #term="ngModel"/>
    </div>

    <div class = "form-group">
      <label for = "location"> Course Location</label>
      <input type = "text" name = "location" class = "form-control" id = "location" placeholder="Course Location"
             ngModel required #location="ngModel"/>
    </div>

  </div>

  <nav class="navbar fixed-bottom navbar-expand-lg nav-neu">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand text-white">
        <span class="fas fa-paw mr-1"></span>
        Home
      </a>
    </div>
  </nav>

</form>
