
<form (ngSubmit)="submitRating()" #f ="ngForm">
<nav class="navbar navbar-fixed-top navbar-expand-lg nav-neu">
  <div class="container-fluid row">
    <div class="pull-left">
      <!--<a routerLink="/" class="navbar-brand text-white">-->
      <a routerLink = "/student/{{userId}}/courses" class="navbar-brand text-white">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a routerLink="./" class="navbar-brand text-white ml-4">
        Rate Course
      </a>
    </div>

    <div class="pull-right">
      <!--<a class="text-white btn" type="submit">-->
        <!--&lt;!&ndash;Done&ndash;&gt;-->
        <!--<i class="fas fa-check fontawsome_icon"></i>-->
      <!--</a>-->
      <button class="btn btn-secondary mr-2" type = "submit">
        <i class="fas fa-check fontawsome_icon"></i>
      </button>
    </div>

  </div>
</nav>
</form>


<div class="container mt-5 mb-5">
  <h4>Please rate course {{courseNumber}} and provide some comments</h4>

  <div class="stars container">
  <!--<div class="row">-->

    <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i"
            [id]="'star_'+i" (click)="onClick(i+1)" [matTooltip]="ratingId+1" matTooltipPosition="above">
      <mat-icon>
        {{showIcon(i)}}
      </mat-icon>
    </button>
    <mat-error *ngIf="starCount == null || starCount == 0">
      Star count is <strong>required</strong> and cannot be zero
    </mat-error>
    <!--<p class="body-2">-->
      <!--Your rated <span class="body-2">{{rating}}</span> / <span class="body-2">{{starCount}}</span>-->
    <!--</p>-->

    <div class="container mt-3 mb-3">
      <!--<textarea rows="10" class="form-control">{{comment}}</textarea>-->
      <textarea rows="8" [(ngModel)]="comment" type = "text" name = "comment" class = "form-control"
             id = "comment" placeholder="{{comment}}"></textarea>
    </div>

    <div class="container mt-5 mb-5">
      <h5>Recent comments</h5>
      <div *ngFor = "let comment of course.comments">
        <ul class="list-group cl-list-group-borderless">
          <li class="list-group-item cl-list-item-borderless">
            <a >{{comment}}</a>
          </li>
        </ul>
      </div>
    </div>

  <!--</div>-->
  </div>
</div>


<nav class="navbar fixed-bottom navbar-expand-lg nav-neu">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-white">
      <span class="fas fa-paw mr-1"></span>
      Home
    </a>
  </div>
</nav>
