
<form (ngSubmit)="submitRating()" #f ="ngForm">
<nav class="navbar navbar-fixed-top navbar-expand-lg nav-neu">
  <div class="container-fluid row">
    <div class="pull-left">
      <!--<a routerLink="/" class="navbar-brand text-white">-->
      <a routerLink = "/student/{{userId}}/courses" class="navbar-brand text-white">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a routerLink="./" class="navbar-brand text-white ml-4">
        Rate Course
      </a>
    </div>

    <div class="pull-right">
      <a class="text-white btn" type="submit">
        <!--Done-->
        <i class="fas fa-check fontawsome_icon"></i>
      </a>
    </div>

  </div>
</nav>
</form>>


<div class="container">
  <h3>Please rate course {{courseNumber}} and provide some comments</h3>

  <div class="stars container">
  <!--<div class="row">-->

    <div class="col-md-4">
      <section>
        <b>Rate (1 to 5)</b>
        <bar-rating [(rate)]="rate" [max]="5"></bar-rating>
      </section>
    </div>

    <div>
      <textarea rows="10" class="form-control">{{comment}}</textarea>
    </div>>

  <!--</div>-->

</div>
</div>


<nav class="navbar fixed-bottom navbar-expand-lg nav-neu">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-white">
      <span class="fas fa-paw mr-1"></span>
      Home
    </a>
  </div>
</nav>
