/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/

nav.nav-neu {
  background: crimson;
}

img.center {
  display: block;
  margin: 0 auto;
}

thead.thead-primary {
  color: white;
  background: steelblue;
}

a.btn-fb {
  color: white;
  background: #3C5A99;
}

thead.thead-neu {
  border-top: 3px solid crimson;
  border-bottom: 3px solid crimson;
}

small {
  font-size: xx-small;
}

.btn-space {
  margin-right: 5px;
}

.actions {
  white-space: nowrap;
  text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
